<div class="border p-3 shadow">
    <h3 style="color:green";>Statistics</h3>
    <hr>
    <div class="border p-3 mb-2">
        <h5 style="color: indigo;">Total Tasks</h5>
        <hr>
        <h4 style="color: orangered;" class="text-center">{{ count_todos }}</h4>
    </div>
    <div class="border p-3 mb-2">
        <h5 style="color: indigo;">Completed Tasks</h5>
        <hr>
        <h4 style="color: orangered;" class="text-center">{{ count_completed_todo }}</h4>
    </div>
    <div class="border p-3 mb-2">
        <h5 style="color: indigo;">Incompleted Tasks</h5>
        <hr>
        <h4 style="color: orangered;" class="text-center">{{ count_incompleted_todo }}</h4>
    </div>
</div>